.singleserv{
margin-bottom: 20px;
}
.singleserv-banner-parent{
    width: 100%;
    display: flex;
     justify-content: center;
     margin-bottom: 10px;
    /* border: 2px solid red; */
 }
 .singleserv-child{
     /* border: 2px solid rgb(229, 255, 0); */
     width: 80%;
     display: flex;
     flex-direction: column;
     overflow: hidden;
     align-items: center;
 }
 .singleserv-banner-parent img{
     border-radius: 20px;
     border: 2px solid black;
     margin-top: 52px;

 }
 .singleserv-child h1{
    border-radius: 65px;
    font-size: 29px;
    margin: 30px 0px;
    background-color: #d9d9d9;
    padding: 30px 64px;
 }
 .singleserv-child p{
     text-align: center;
 }