.main-slider{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 500px) and (min-width: 350px) {
    .main-slider{
        margin-left: 0px;
        margin-bottom: 0px;
    }
  }
.img-s{
    border-radius: 10px;
    width: 40%;
    border: 1px solid #144084;;

}
.writes{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: self-start;
    width: 40%;
}
@media only screen and (max-width: 400px) {
    .writes{
        width: 50%;
    }
  }
.heading-s h4{
    color: #144089;
    font-weight: bold;
    font-size: 20px;
}
.writes h5{
    color: #144089;
    font-size: 15px;
}
.btn-s button{
    border: none;
    background-color: #144084;
    color: #fff;
    border-radius: 5px;
    padding: 5px 25px;
    font-size: 15px;
}
.carousel{
    display: flex;
}
.react-multi-carousel-track{
    margin-bottom: 10px;
}
.span-offer{
    position: relative;
    font-size: 30px;
    border-radius: 12px;
    top: 27px;
    background-color: #144084;
    color: white;
    padding: 5px 48px;
 }
 .offer-main-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    margin-bottom: 50px;
}
@media only screen and (max-width: 400px) {
    .offer-main-container{
        margin-top: 70px;
    }
  }
 .offer-inner{
    border: 2px solid #96a2b2;
    width: 80%;
    border-radius: 10px;
    padding: 40px 30px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    
    
 }
 .slider-flex{
    display: flex;
    flex-wrap: wrap;
 }
 
 .offer-btn button{
    border: none;
    color: #144084;
    padding: 7px 22px;
    margin-bottom: 25px;
    margin-left: 15px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 700;
 }
 .offer.active{
    background-color: #144084;
    color: #ffffff;
    border: none;
    padding: 7px 22px;
    margin-bottom: 25px;
    margin-left: 15px;
    cursor: pointer;
}